.THIS.tlf-new__modal {
  margin: 206px auto 0;
  margin: 12.875rem auto 0;
  width: 741px;
  width: 46.3125rem;
}

.THIS .tlf-new__modal.modal {
  padding: 17px;
  padding: 1.0625rem;
}

.THIS .tlf-new__modal.modal .modal-dialog {
  margin: 0;
  width: 100%;
}

.THIS .tlf-new__modal.modal .modal-dialog .tlf-new__modal {
  left: -17px;
  left: -1.0625rem;
  top: -17px;
  top: -1.0625rem;
  margin: 0 auto;
  overflow: visible;
}

.THIS .tlf-new__modal__close {
  position: absolute;
  top: -18px;
  top: -1.125rem;
  right: -18px;
  right: -1.125rem;
  width: 36px;
  width: 2.25rem;
  height: 36px;
  height: 2.25rem;
  text-indent: -9999px;
  border: none;
  background: url("../assets/img/icons/tlf-fancybox_sprite.png") no-repeat 0 0;
  z-index: 999;
}

.THIS .tlf-new__modal__content {
  position: relative;
  padding: 15px;
  padding: 0.9375rem;
}

.THIS .tlf-new__modal__container {
  display: block;
  position: relative;
  width: 100%;
}

.THIS .tlf-new__modal__body {
  padding: 11px 44px 27px;
  padding: 0.6875rem 2.75rem 1.6875rem;
  max-height: 581px;
  max-height: 36.3125rem;
  overflow-y: scroll;
  position: inherit;
  overflow: hidden;
  background: #e6e6e6;
}

.THIS .tlf-new__modal__data-content {
  display: block;
  position: relative;
  background: white;
  border: 1px solid #abadb3;
  height: 276px;
  height: 17.25rem;
  overflow: scroll;
  overflow-x: hidden;
}

.THIS .tlf-new__modal__data-content--inverse .tlf-new__modal__data {
  width: 40%;
}

.THIS .tlf-new__modal__data-content--inverse .tlf-new__modal__data--secondary {
  width: 60%;
}

.THIS .tlf-new__modal__data-content .tlf-new__modal__controlGroup--big {
  width: 100%;
}

.THIS .tlf-new__modal__data-content .tlf-table__body__row .tlf-table__body__col {
  color: #333435;
  background-color: white;
}

.THIS .tlf-new__modal__data-content .tlf-table__body__row:hover .tlf-table__body__col, .THIS .tlf-new__modal__data-content .tlf-table__body__row:focus .tlf-table__body__col {
  color: #333435;
  background-color: white;
}

.THIS .tlf-new__modal__data-content--margin-vertical {
  margin: 56px 20px 20px;
  margin: 3.5rem 1.25rem 1.25rem;
}

.THIS .tlf-new__modal__data-content--simple {
  background: transparent;
  border: none;
  height: auto;
  padding: 5px 20px;
  padding: 0.3125rem 1.25rem;
  overflow: visible;
}

.THIS .tlf-new__modal__data-content--simple .tlf-new__modal__data-row {
  padding: 10px 0;
  padding: 0.625rem 0;
}

.THIS .tlf-new__modal__data-row {
  display: block;
  position: relative;
  padding: 10px 15px;
  padding: 0.625rem 0.9375rem;
}

.THIS .tlf-new__modal__data-row--title {
  padding: 20px 15px;
  padding: 1.25rem 0.9375rem;
}

.THIS .tlf-new__modal__data {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 75%;
  font-family: 'salesforcesans';
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14;
  color: #333435;
}

.THIS .tlf-new__modal__data--title {
  display: block;
  width: 100%;
  font-family: 'salesforcesans--bold';
  color: #333435;
}

.THIS .tlf-new__modal__data--secondary {
  width: 25%;
  color: #777777;
}

.THIS .tlf-new__modal__title {
  position: absolute;
  top: 0;
  right: -16.5%;
  padding: 3px 7px;
  padding: 0.1875rem 0.4375rem;
  font-family: salesforcesans;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: normal;
  color: white;
  z-index: 1;
  background-color: #222222;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.THIS .tlf-new__modal__title__desc {
  margin-bottom: 11px;
  margin-bottom: 0.6875rem;
  font-family: salesforcesans;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #0296be;
}

.THIS .tlf-new__modal__breadcrumbs {
  margin: 15px 0 25px;
  margin: 0.9375rem 0 1.5625rem;
}

.THIS .tlf-new__modal__breadcrumbs__item {
  display: inline-block;
}

.THIS .tlf-new__modal__breadcrumbs__item:after {
  content: ">";
  margin-left: 5px;
  margin-left: 0.3125rem;
  font-family: salesforcesans;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #6b6b6b;
}

.THIS .tlf-new__modal__breadcrumbs__item:last-child:after {
  display: none;
}

.THIS .tlf-new__modal__breadcrumbs__text {
  font-family: salesforcesans;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #6b6b6b;
}

.THIS .tlf-new__modal__form__legend {
  margin-bottom: 11px;
  margin-bottom: 0.6875rem;
  font-family: salesforcesans;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #0296be;
}

.THIS .tlf-new__modal__form__legend--description {
  display: block;
  margin-bottom: 6px;
  margin-bottom: 0.375rem;
  padding: 0 10px;
  padding: 0 0.625rem;
}

.THIS .tlf-new__modal__form-row {
  display: inline-block;
  vertical-align: top;
  width: 35%;
}

.THIS .tlf-new__modal__form-row .tlf-new__modal__controlGroup {
  width: 100%;
}

.THIS .tlf-new__modal__fieldset:after {
  content: "";
  display: block;
  clear: both;
}

.THIS .tlf-new__modal__legend-title {
  display: block;
  position: relative;
  font-family: 'salesforcesans';
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.14;
  color: #333435;
  width: 100%;
  border-bottom: 1px solid #333435;
  padding: 5px 0 5px 10px;
  padding: 0.3125rem 0 0.3125rem 0.625rem;
}

.THIS .tlf-new__modal__controlGroup {
  display: inline-block;
  margin-top: 11px;
  margin-top: 0.6875rem;
  width: 38%;
  vertical-align: top;
}

.THIS .tlf-new__modal__controlGroup--small {
  margin: 0 0 0 9%;
  width: 20%;
}

.THIS .tlf-new__modal__controlGroup--small .tlf-new__modal__input {
  border: 1px solid darkgray;
}

.THIS .tlf-new__modal__controlGroup--big {
  display: block;
  margin-top: 16px;
  margin-top: 1rem;
  width: 95.5%;
}

.THIS .tlf-new__modal__controlGroup--big .tlf-new__modal__input {
  width: 100%;
  border: 1px solid darkgray;
}

.THIS .tlf-new__modal__controlGroup--big .tlf-new__modal__input--simple {
  border: none;
}

.THIS .tlf-new__modal__controlGroup--divider {
  float: left;
  margin-top: 30px;
  margin-top: 1.875rem;
  width: 50%;
}

.THIS .tlf-new__modal__controlGroup--divider .tlf-new__modal__label {
  margin-bottom: 7px;
  margin-bottom: 0.4375rem;
  color: #222222;
}

.THIS .tlf-new__modal__controlGroup--divider .tlf-new__modal__input {
  float: left;
  width: 62%;
  height: 170px;
  height: 10.625rem;
}

.THIS .tlf-new__modal__controlGroup--divider .tlf-new__modal__input option {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.THIS .tlf-new__modal__controlGroup--without-margin {
  margin: 0;
  width: 100%;
}

.THIS .tlf-new__modal__controlGroup--padding-right {
  padding-right: 12px;
  padding-right: 0.75rem;
}

.THIS .tlf-new__modal__controlGroup .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  float: left;
  width: 100%;
  max-width: 180px;
  max-width: 11.25rem;
}

.THIS .tlf-new__modal__controlGroup .tlf-new__modal__select {
  float: left;
  margin: 6px 0 0;
  margin: 0.375rem 0 0;
  font-family: salesforcesans;
  font-size: 12px;
  font-size: 0.75rem;
  color: #666666;
}

.THIS .tlf-new__modal__controlGroup .tlf-new__modal__select .dropdown-toggle {
  display: none;
}

.THIS .tlf-new__modal__controlGroup .tlf-new__modal__select .dropdown-menu {
  display: none;
}

.THIS .tlf-new__modal__controlGroup .tlf-new__modal__select .tlf-new__modal__select {
  position: inherit !important;
  left: inherit;
  bottom: inherit;
  margin: 0 !important;
  width: 100% !important;
  opacity: inherit !important;
  border: 1px solid darkgray;
}

.THIS .tlf-new__modal__buttons {
  float: right;
  margin-top: 29px;
  margin-top: 1.8125rem;
  width: 28%;
  text-align: center;
}

.THIS .tlf-new__modal__buttons__text {
  display: block;
  margin-top: 2px;
  margin-top: 0.125rem;
  font-family: salesforcesans;
  font-size: 12px;
  font-size: 0.75rem;
  color: #222222;
}

.THIS .tlf-new__modal__buttons__button {
  display: block;
  margin: 2px auto 0;
  margin: 0.125rem auto 0;
  width: 24px;
  width: 1.5rem;
  height: 20px;
  height: 1.25rem;
  text-indent: -9999px;
}

.THIS .tlf-new__modal__buttons__button--add {
  background: url("../assets/img/icons/tlf-combobox_arrows_sprite.gif") no-repeat 0 0;
}

.THIS .tlf-new__modal__buttons__button--add:hover, .THIS .tlf-new__modal__buttons__button--add:focus {
  background: url("../assets/img/icons/tlf-combobox_arrows_sprite.gif") no-repeat 0 -20px;
}

.THIS .tlf-new__modal__buttons__button--remove {
  background: url("../assets/img/icons/tlf-combobox_arrows_sprite.gif") no-repeat 0 -60px;
}

.THIS .tlf-new__modal__buttons__button--remove:hover, .THIS .tlf-new__modal__buttons__button--remove:focus {
  background: url("../assets/img/icons/tlf-combobox_arrows_sprite.gif") no-repeat 0 -80px;
}

.THIS .tlf-new__modal__buttons__button--up {
  background: url("../assets/img/icons/tlf-combobox_arrows_sprite.gif") no-repeat 0 -120px;
}

.THIS .tlf-new__modal__buttons__button--up:hover, .THIS .tlf-new__modal__buttons__button--up:focus {
  background: url("../assets/img/icons/tlf-combobox_arrows_sprite.gif") no-repeat 0 -140px;
}

.THIS .tlf-new__modal__buttons__button--down {
  background: url("../assets/img/icons/tlf-combobox_arrows_sprite.gif") no-repeat 0 -180px;
}

.THIS .tlf-new__modal__buttons__button--down:hover, .THIS .tlf-new__modal__buttons__button--down:focus {
  background: url("../assets/img/icons/tlf-combobox_arrows_sprite.gif") no-repeat 0 -200px;
}

.THIS .tlf-new__modal__label {
  display: block;
  font-family: salesforcesans;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.1em;
  font-weight: bold;
  color: #4a4a56;
}

.THIS .tlf-new__modal__input {
  display: block;
  padding: 0 1px 1px;
  padding: 0 0.0625rem 0.0625rem;
  font-family: salesforcesans;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #4a4a56;
}

.THIS .tlf-new__modal__input--tall {
  min-height: 71px;
  min-height: 4.4375rem;
}

.THIS .tlf-new__modal__input--taller {
  min-height: 200px;
  min-height: 12.5rem;
  resize: none;
}

.THIS .tlf-new__modal__input--simple {
  margin-top: 6px;
  margin-top: 0.375rem;
  width: 179px;
  width: 11.1875rem;
  height: 19px;
  height: 1.1875rem;
}

.THIS .tlf-new__modal__controlButton {
  display: none;
}

.THIS .tlf-new__modal .tlf-hideDesktop {
  display: none;
}

.THIS .tlf-new__modal .tlf-tabs__block {
  width: 100%;
  border-bottom: 1px solid #00a5b8;
}

.THIS .tlf-new__modal .tlf-tabs__nav > li > a.tlf-tabs__link {
  max-width: 190px;
  max-width: 11.875rem;
}

.THIS .tlf-new__modal--details.modal {
  overflow-x: visible;
  overflow-y: visible;
}

.THIS .tlf-new__modal--details .tlf-new__modal__body {
  max-height: 581px;
  max-height: 36.3125rem;
  overflow-y: scroll;
  padding: 11px 10px 27px;
  padding: 0.6875rem 0.625rem 1.6875rem;
}

.THIS .tlf-new__modal--details .tlf-new__modal__title__desc {
  padding: 0 30px;
  padding: 0 1.875rem;
}

.THIS .tlf-new__modal--details .tlf-new__modal__breadcrumbs {
  padding: 0 30px;
  padding: 0 1.875rem;
}

@media screen and (max-width: 63.96875rem) {
  .THIS .modal-open {
    padding-right: 0 !important;
  }
  .THIS .modal-open .modal-backdrop {
    opacity: 0;
    position: inherit;
    top: inherit;
    right: inherit;
    bottom: inherit;
    left: inherit;
    transition: none;
  }
  .THIS .modal-open .tlf-show {
    display: none;
  }
  .THIS .modal-open .tlf-new__modal {
    position: relative;
    top: inherit;
    right: inherit;
    bottom: inherit;
    left: inherit;
    margin: 0;
    padding: 0 !important;
    width: 100%;
    transition: none;
  }
  .THIS .modal-open .tlf-new__modal .modal-dialog .tlf-new__modal {
    left: 0;
    top: 0;
  }
  .THIS .modal-open .tlf-new__modal__close {
    display: none;
  }
  .THIS .modal-open .tlf-new__modal__title {
    position: absolute;
    text-indent: -9999px;
    background: none;
  }
  .THIS .modal-open .tlf-new__modal__content {
    padding: 0.3125rem 3.5rem;
    box-shadow: none;
    border: 0;
    background: inherit;
    border-radius: 0;
  }
  .THIS .modal-open .tlf-new__modal__container {
    display: block;
    position: relative;
    width: 67%;
    margin: 1.25rem 0 1.25rem 0.625rem;
  }
  .THIS .modal-open .tlf-new__modal .tlf-new__modal.in ~ .tlf-new__modal__content {
    display: none !important;
  }
  .THIS .modal-open .tlf-new__modal .tlf-new__modal__form-row {
    width: 100%;
  }
  .THIS .modal-open .tlf-new__modal .tlf-new__modal__form-row .tlf-new__modal__controlGroup {
    width: 100%;
  }
  .THIS .modal-open .tlf-new__modal__body {
    padding: 0.625rem 0.9375rem 2.1875rem;
    max-height: 100%;
    overflow-y: hidden;
    background: white;
  }
  .THIS .modal-open .tlf-new__modal__data-content {
    height: 33.4375rem;
    width: auto;
  }
  .THIS .modal-open .tlf-new__modal__data-content--simple {
    height: auto;
  }
  .THIS .modal-open .tlf-new__modal__form__legend {
    margin-bottom: 0.375rem;
    color: #0095c0;
  }
  .THIS .modal-open .tlf-new__modal__label {
    font-size: 1rem;
    color: #4c4c58;
    line-height: 1.5em;
  }
  .THIS .modal-open .tlf-new__modal__input {
    font-size: 1rem;
    color: #4c4c58;
    line-height: 1.5em;
    border-color: #bfbfbf;
  }
  .THIS .modal-open .tlf-new__modal__input--simple {
    margin-top: 0.1875rem;
    padding: 0.625rem 1.625rem 0.625rem 0.8125rem;
    width: 99%;
    height: 2.625rem;
    border: 1px solid #bfbfbf;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup {
    width: 41%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--small {
    margin-left: 0;
    width: 18%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--big {
    margin-top: 0.9375rem;
    width: 100%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--big .tlf-new__modal__input {
    padding: 0.5rem 0.5625rem;
    width: 100%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--divider {
    margin-top: 0.8125rem;
    width: 50%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--divider .tlf-new__modal__input {
    padding: 0.375rem 0.1875rem;
    width: 56%;
    overflow: hidden;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--time {
    margin-right: 0.8125rem;
    width: 7rem;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup .tlf-new__modal__select {
    left: 0;
    margin-top: 0.1875rem;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup .tlf-new__modal__select .tlf-new__modal__select {
    position: absolute !important;
    bottom: 0;
    left: 50%;
    display: block !important;
    width: 0.03125rem !important;
    height: 100% !important;
    padding: 0 !important;
    opacity: 0 !important;
    border: none;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup .tlf-new__modal__select.btn-group .dropdown-toggle {
    display: block;
    padding: 0.625rem 1.625rem 0.625rem 0.8125rem;
    background-color: white;
    border: 1px solid #bfbfbf;
    border-radius: 0;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup .tlf-new__modal__select.btn-group .dropdown-toggle .caret {
    top: 50%;
    right: 0.25rem;
    margin: -0.4375rem 0 0 0;
    width: 0.875rem;
    height: 0.9375rem;
    border: none;
    background: url(../assets/img/icons/tlf-arrowBottom.png) no-repeat right center;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup .tlf-new__modal__select.btn-group .dropdown-toggle .filter-option {
    font-family: salesforcesans;
    font-size: 0.875rem;
    color: #6b6b6b;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup .tlf-new__modal__select.btn-group .dropdown-menu {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    border: none;
    box-shadow: none;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup .tlf-new__modal__select.btn-group .dropdown-menu .inner {
    border: solid 1px #dedede;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup .tlf-new__modal__select.btn-group .dropdown-menu li a {
    padding: 0.25rem 0.3125rem;
    padding: 0.25rem 0.3125rem;
    font-family: salesforcesans;
    font-size: 0.875rem;
    color: #6b6b6b;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup .tlf-new__modal__select.btn-group .dropdown-menu li a .text {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup .tlf-new__modal__select.btn-group.open .dropdown-toggle.btn-default {
    background-color: white;
    box-shadow: none;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup .tlf-new__modal__select.btn-group.open .dropdown-toggle.btn-default:hover, .THIS .modal-open .tlf-new__modal__controlGroup .tlf-new__modal__select.btn-group.open .dropdown-toggle.btn-default:focus {
    border: 1px solid #dedede;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup .tlf-new__modal__select.btn-group.open .dropdown-toggle .caret {
    background: url(../assets/img/icons/tlf-arrowTop.png) no-repeat right center;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup .tlf-new__modal__select.btn-group.open .dropdown-menu {
    display: block;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    max-width: 100%;
  }
  .THIS .modal-open .tlf-new__modal__buttons {
    float: none;
    display: inline-block;
    margin: 0.6875rem 0 0;
    width: 26%;
  }
  .THIS .modal-open .tlf-new__modal__buttons__button {
    margin: 0.125rem auto;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 4px;
    border: solid 1px #8b8b8b;
  }
  .THIS .modal-open .tlf-new__modal__buttons__button--add {
    background: url(../assets/img/icons/tlf-arrowRight--gray.png) no-repeat center center white;
  }
  .THIS .modal-open .tlf-new__modal__buttons__button--remove {
    background: url(../assets/img/icons/tlf-arrowLeft--gray.png) no-repeat center center white;
  }
  .THIS .modal-open .tlf-new__modal__buttons__button--up {
    background: url(../assets/img/icons/tlf-arrowTop--gray.png) no-repeat center center white;
  }
  .THIS .modal-open .tlf-new__modal__buttons__button--down {
    background: url(../assets/img/icons/tlf-arrowBottom--gray.png) no-repeat center center white;
  }
  .THIS .modal-open .tlf-new__modal__buttons__text {
    margin-top: 0;
    margin-bottom: 0.3125rem;
    font-size: 1rem;
  }
  .THIS .modal-open .tlf-new__modal__controlSelect {
    position: relative;
    margin-top: 0.3125rem;
  }
  .THIS .modal-open .tlf-new__modal__controlSelect .tlf-new__modal__input {
    padding-left: 0.625rem;
    width: 100%;
    height: 5rem;
    border-radius: 4px;
    background-color: white;
    border: solid 1px #8b8b8b;
    border-right: 0;
    -webkit-pointer-events: none;
    -ms-user-pointer-events: none;
    -moz-pointer-events: none;
  }
  .THIS .modal-open .tlf-new__modal__controlSelect .tlf-new__modal__input option {
    display: none;
  }
  .THIS .modal-open .tlf-new__modal__controlSelect .tlf-new__modal__controlButton {
    display: block;
    position: absolute;
    top: 0;
    width: 2.5rem;
    height: 5rem;
    right: 0;
    border-radius: 4px;
    background: #007aff;
    background-image: linear-gradient(to bottom, #8ad2ff, #007aff);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .THIS .modal-open .tlf-new__modal__controlSelect .tlf-new__modal__controlButton__link {
    display: block;
    height: 2.5rem;
    text-indent: -9999px;
  }
  .THIS .modal-open .tlf-new__modal__controlSelect .tlf-new__modal__controlButton__link--top {
    background: url(../assets/img/icons/tlf-arrowTime.png) no-repeat center center;
  }
  .THIS .modal-open .tlf-new__modal__controlSelect .tlf-new__modal__controlButton__link--bottom {
    background: url(../assets/img/icons/tlf-arrowTimeBottom.png) no-repeat center center;
  }
  .THIS .modal-open .tlf-new__modal--details .tlf-new__modal__body {
    max-height: 100%;
    overflow-y: hidden;
  }
  .THIS .modal-open .tlf-new__modal--details .tlf-new__modal__controlGroup--big {
    padding-right: 0;
    width: 100%;
  }
  .THIS .modal-open .tlf-hideDesktop {
    display: inline-block;
  }
  .THIS .modal-open .tlf-new__modal--tablet-hidden {
    display: none;
  }
  .THIS .modal-open .tlf-selector {
    width: 100%;
  }
}

@media screen and (min-width: 30rem) and (max-width: 47.96875rem) {
  .THIS .modal-open .tlf-new__modal .modal-dialog .tlf-new__modal {
    left: 0;
    top: 0;
  }
  .THIS .modal-open .tlf-new__modal__form__legend--description {
    display: block;
    padding: 0;
  }
  .THIS .modal-open .tlf-new__modal__content {
    padding: 0;
  }
  .THIS .modal-open .tlf-new__modal__container {
    display: block;
    position: relative;
    width: 100%;
    margin: 1.25rem 0;
  }
  .THIS .modal-open .tlf-new__modal__data-content {
    height: 21.625rem;
    width: auto;
  }
  .THIS .modal-open .tlf-new__modal__data-content--simple {
    height: auto;
  }
  .THIS .modal-open .tlf-new__modal__data {
    display: block;
    width: 100%;
    padding: 0.3125rem 0;
  }
  .THIS .modal-open .tlf-new__modal__data-row {
    padding: 0.3125rem 0.9375rem;
  }
  .THIS .modal-open .tlf-new__modal__data-row--title {
    padding: 1.25rem 0.9375rem 0.3125rem;
  }
  .THIS .modal-open .tlf-new__modal .tlf-new__modal.in ~ .tlf-new__modal__content {
    display: none !important;
  }
  .THIS .modal-open .tlf-new__modal__body {
    padding: 0.625rem 0.8125rem 2.25rem;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup {
    width: 33%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--small {
    width: 23%;
    margin-right: 9%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--big {
    width: 100%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--divider {
    width: 50%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--divider .tlf-new__modal__input {
    width: 62%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--last {
    width: 100%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--time {
    margin-right: 1.625rem;
    width: 6.5625rem;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--mbl {
    display: block;
    margin-top: 15px;
    width: 100%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--mbl .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    float: none;
    margin: 0;
    max-width: 100%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--mbl .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn).btn-group .dropdown-toggle {
    border-color: #bfbfbf;
  }
  .THIS .modal-open .tlf-new__modal__buttons {
    width: 36%;
  }
  .THIS .modal-open .tlf-new__modal--details {
    width: 94%;
    margin: 0 0.9375rem;
  }
  .THIS .modal-open .tlf-hideDesktop {
    display: inline-block;
  }
}

@media screen and (min-width: 20rem) and (max-width: 29.96875rem) {
  .THIS .modal-open .tlf-new__modal .modal-dialog .tlf-new__modal {
    left: 0;
    top: 0;
  }
  .THIS .modal-open .tlf-new__modal__form__legend--description {
    padding: 0;
  }
  .THIS .modal-open .tlf-new__modal__content {
    padding: 0;
  }
  .THIS .modal-open .tlf-new__modal__container {
    display: block;
    position: relative;
    width: 100%;
    margin: 1.25rem 0;
  }
  .THIS .modal-open .tlf-new__modal__data-content {
    height: 21.625rem;
    width: auto;
  }
  .THIS .modal-open .tlf-new__modal__data-content--simple {
    height: auto;
  }
  .THIS .modal-open .tlf-new__modal__data {
    display: block;
    width: 100%;
    padding: 0.3125rem 0;
  }
  .THIS .modal-open .tlf-new__modal__data-row {
    padding: 0.3125rem 0.9375rem;
  }
  .THIS .modal-open .tlf-new__modal__data-row--title {
    padding: 1.25rem 0.9375rem 0.3125rem;
  }
  .THIS .modal-open .tlf-new__modal .tlf-new__modal.in ~ .tlf-new__modal__content {
    display: none !important;
  }
  .THIS .modal-open .tlf-new__modal__body {
    padding: 0.625rem 0.8125rem 2.25rem;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup {
    display: block;
    width: 100%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--small {
    width: 23%;
    margin-right: 9%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--big {
    width: 100%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--divider {
    width: 50%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--divider .tlf-new__modal__input {
    width: 62%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--last {
    width: 100%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--time {
    display: inline-block;
    margin-right: 1.625rem;
    width: 40%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--mbl {
    display: block;
    margin-top: 15px;
    width: 100%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--mbl .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    float: none;
    margin: 0;
    max-width: 100%;
  }
  .THIS .modal-open .tlf-new__modal__controlGroup--mbl .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn).btn-group .dropdown-toggle {
    border-color: #bfbfbf;
  }
  .THIS .modal-open .tlf-new__modal__buttons {
    width: 36%;
  }
  .THIS .modal-open .tlf-hideDesktop {
    display: inline-block;
  }
}