.THIS.custom{
    padding:0px !important;
    background-image:url("{!$Resource.PCA_Template_Resources + '/platino_zoomin/Imagens/Gradiente_header_2000X1px.jpg'}");
}

.THIS.header{
    background-repeat:no-repeat; 
    background-size:100% 100%;      
    background-image:url("{!$Resource.PCA_Template_Resources + '/platino_zoomin/img/HeaderBack.jpg'}");
}

.THIS.headerMovi{
        background-repeat:no-repeat; 
        background-size:100% 100%;      
        background-position:center top;
        height:105px;
        text-align: center; 
        top:0;
        width:100%;
        background-image:url("{!$Resource.PCA_Template_Resources + '/platino_zoomin/img/Back_gradiente.png'}");
        }
.THIS.tabla1{
    width:"100%";
    border:"0"; 
    padding:"0"; 
    margin:"0";
    padding:0px !important;
}

.THIS.div1{
    border-bottom:1px solid #eaeaea;
    margin-bottom:3%; 
    height:150px;
}

.THIS.header_logoMovistar{
    height:250px;
    width:250px;
    vertical-align:middle;
}