.THIS .tlf-new__modal__controlGroup--big .tlf-new__modal__input  {
    border: none !important;
}
.THIS .slds-select {
    height: 150px !important;
}
.THIS .tlf-new_modal_controlGroupFifty {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding : 0px;
}

.THIS .tlf-new_modal_controlGroupMultiSelect {
    display: inline-block;
    width: 44%;
    vertical-align: top;
}
.THIS .tlf-new_modal_controlGroupMultiSelectBtns {
    display: inline-block;
    width: 5%;
    vertical-align: middle !important;
    margin-top: 60px;
    margin-left: 3%;
    margin-right: 3%;
}

.THIS textarea {
    height: 50px !important;
    width: 105% !important;
}

.THIS .slds-select[multiple] option {
  padding: 0.0rem; 
}

.THIS .tlf-new_modal_controlGroupMultiSelect{
    padding : 10px;
}

.THIS .tlf-new__modal__buttons__text-custom{
    padding : 0px;
    border : 0px;
}