.THIS .sWrapTest {
    height: 510px;
    width:100%;
}

.THIS .iconNoGeolocalizado {
    fill: #fbe43f !important;
    background-color: #fbe43f !important;
}
.THIS .iconError {
    fill: #ff6600 !important;
    background-color: #ff6600 !important;
}

.THIS .textCursiva {
    font-style: italic;
}