.THIS .h5 {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(69, 69, 69);
}

.THIS .h1_blue{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    color: #0296be;  
}

.THIS .popUp_Container {
    display: block;
    heigth: auto;
    padding: 2em;
    margin: 0;
}



.THIS .tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.THIS .labelfont {
    color: #4a4a56;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
}

.THIS .valuefont {
    color: #4a4a56;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
}

.THIS .bt_modal{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF !important;
    margin: 2px;
    font-size: 12px;
    text-shadow: 0px 1px 0px #696969;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #00ABCF;
    background: #00C5EF;
    background: linear-gradient(top, #00C5EF, #04A9D9);
    background: -ms-linear-gradient(top, #00C5EF, #04A9D9);
    background: -webkit-gradient(linear, left top, left bottom, from(#00C5EF), to(#04A9D9));
    background: -moz-linear-gradient(top, #00C5EF, #04A9D9);
}

.THIS p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}