.THIS .h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #454545;
    margin-left: -20px;
    padding-bottom: 10px;
}


.THIS .table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.THIS .table.tableGeneric {
    width: 100%;
}

.THIS .wrapper {
    display: block;
    margin-bottom: 0.8em;
    min-width: 130px;
}

.THIS .td .th {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    padding:15px;
}

.THIS .labelfont {
    color: #4a4a56;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
}

.THIS .valuefont {
    color: #4a4a56;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
}

.THIS .tlf-new__modal__form {

    display: block;
    margin-top: 25px;
}